<h1>Subscription Groups</h1>
<p>Click Add & Remove to change your subscription groups</p>
<h3>My Groups</h3>
<% if current_user.groups.empty? %>
    No Groups Found<br>
    <br />
<% else %>
    <% current_user.groups.each do |group| %>
        <%= link_to '<Remove>', group, :method => :put %> <%= group.title %><br>
    <% end %>
<% end %>
<br />

<% if current_user.has_role? :user %>
    <h3>Available Groups</h3>
    <% @groups.each do |group| %>
        <% if not current_user.groups.include? group %>
            <%= link_to '<Add>', group, :method => :put %> <%=  group.title %><br>
        <% end %>
    <% end %>
<% end %>
<br />

<% if current_user.has_role? :admin %>
    <h3>All Groups</h3>
    <table>
    <tr>
        <th>Title</th>
        <th></th>
        <th></th>
    </tr>

    <% @groups.each do |group| %>
    <tr>
        <td><%= group.title %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Group', new_group_path, :class => "btn btn-primary" %>

    <div class="pagination">
    <%= will_paginate @groups %>
    <div class="page_info">
        <%= page_entries_info @groups %>
    </div>
    </div>
    <br/>
<% end %>
<div>
</div>


