<h1>Notification Settings</h1>

<%= form_for(@user, :html => {:class => "form-horizontal"}) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user settings
            from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div><b>Country</b>
      <%= f.select :country_iso, [['Australia','AU'],['United States','US'],['Chile','CL'],['Malaysia','MY']] %>
      <%= f.select :timezone, [['+12 Auckland','12.0'],['+11 AEST (Daylight Savings)','11.0'],['+10 AEST (Brisbane/Sydney Melbourne)','10.0'],['+9.5 Darwin/Adelaide','9.5'],['+9 Tokyo','9.0'],['+8 Perth/Kuala Lumpur','8.0'],['+7 Bangkok','7.0'],['+6 Chelyabinsk','6.0'],['+5.5 New Delhi/Bangalore','5.5'],['+4 Dubai','4.0'],['+3 Helsinki/Istanbul','3.0'],['+2 Stockholm','2.0'],['+1 London','1.0'],['+0 UTC','0.0'],['-1 Praia','-1.0'],['-2 Nuuk','-2.0'],['-3 Buenos Aires','-3.0'],['-4 Atlanta/Santiago','-4.0'],['-5 Austin','-5.0'],['-6 Denver','-6'],['-7 Los Angeles/San Fransisco/Las Vegas','-7.0'],['-8 Anchorage','-8.0'],['-9 Adak','-9.0'],['-10 Honolulu','-10.0'],['-11 Midway','-11.0']] %><br /><br /></div>


    <div><b>Notification Methods</b><br>
      <%= f.check_box :use_email_flag %> - Email<br />
      <i>(Uses your notification login ID)</i><br /><br />
      <%= f.check_box :use_boxcar_flag %> - Boxcar |<b>Boxcar Login/ID</b><%=  f.text_field :boxcar_id %><br />
      <i>(<a href="http://boxcar.io/">Click to signup for a Boxcar ID for IOS Devices</a>)</i><br /><br />
      <%= f.check_box :use_nma_flag %> - Notify My Android |<b>API Key</b><%=  f.text_field :nma_api_key %><br />
      <i>(<a href="http://www.notifymyandroid.com/">Click to signup for a Notify My Android Account & Get a Personal API Key</a>)</i><br /><br />
      <%= f.check_box :use_nmwp_flag %> - Notify My Windows Phone |<b>API Key</b><%=  f.text_field :nmwp_api_key %><br />
      <i>(<a href="https://notifymywindowsphone.com">Click to signup for a Notify My Windows Phone Account & Get a Personal API Key</a>)</i><br /><br />
      <%= f.check_box :use_prowl_flag %> - Prowl |<b>API Key</b><%=  f.text_field :prowl_api_key %><br />
      <i>(<a href="http://www.prowlapp.com/">Click to signup for a Prowl Account & Get a Personal API Key</a>)</i><br /><br />
      <!-- <%= f.check_box :use_im_flag %> - Instant Messenger [TBD]<br />
      <i>(To be implemented at a later date)</i><br /><br /> -->
      <%= f.check_box :use_mobile_ph_flag %> - Mobile Ph TXT/SMS |<%=  f.text_field :mobile_phone_no %><br />
      <i>(add the full international number including country code, no + prefix, spaces, hyphens or special characters)</i><br /></div><br />

    <h3>Coverage Settings</h3>
    <div>Business Days<br />
      <%= f.radio_button :business_days, "5" %> Mon-Fri
      <%= f.radio_button :business_days, "7" %> 7 Days
      <%= f.radio_button :business_days, "0" %> Disable Notifications
      <br>
      <%= f.label :business_hrs_start %>
      <%= f.select :business_hrs_start, [['0000','0'],['0100','1'],['0200','2'],['0300','3'],['0400','4'],['0500','5'],['0600','6'],['0700','7'],['0800','8'],['0900','9'],['1000','10'],['1100','11'],['1200','12'],['1300','13'],['1400','14'],['1500','15'],['1600','16'],['1700','17'],['1800','18'],['1900','19'],['2000','20'],['2100','21'],['2200','22'],['2300','23'], ] %>
      <%= f.label :business_hrs_end %>
      <%= f.select :business_hrs_end, [['0100','1'],['0200','2'],['0300','3'],['0400','4'],['0500','5'],['0600','6'],['0700','7'],['0800','8'],['0900','9'],['1000','10'],['1100','11'],['1200','12'],['1300','13'],['1400','14'],['1500','15'],['1600','16'],['1700','17'],['1800','18'],['1900','19'],['2000','20'],['2100','21'],['2200','22'],['2300','23'],['2400','24']] %></div><br/>

    <% if current_user.has_role? :SystemAdmin %>
      <h3>Admin - Change Roles</h3>
      <%= f.label :roles, :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select(:role_ids, Role.all, :id, :name, {:selected => @user.role_ids}, {:multiple => "multiple", :readonly => false}) %><br />
      </div>
      <br><p>Display Name <%=  f.text_field :name %>  & Email <%=  f.text_field :email %></p><br />
    <% end %>

    <div><%= f.submit "Update" %></div>
<% end %>