<h1>Listing events</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.id %></td>
    <td>|<%= event.time_stamp %></td>
    <td>|<%= event.ticket_id %></td>
    <td>|<%= event.call_type %></td>
    <td>|<%= event.milestone %></td>
    <td>|<%= event.source %></td>
    <td>|<%= event.terminate_flag %></td>
    <td>|<%= link_to 'Show', event %></td>
    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Event', new_event_path %>

<div class="pagination">
  <%= will_paginate @events %>
  <div class="page_info">
    <%= page_entries_info @events %>
  </div>
</div>
<br/>
<br/>

<%= debug(params) if Rails.env.development? %>
