<%= form_for(@rule, :html => {:class => "form-horizontal"}) do |f| %>

<% if @rule.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule
    from being saved:</h2>

  <ul>
    <% @rule.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<fieldset>
  <legend><%= legend_text %></legend>
  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title, :class => "input-xlarge" %>
      <p class="help-block"></p>
    </div>
  </div>

  <h3>Limits</h3>
  <div class="control-group">
    <%= f.label :source, :class => "control-label" %>
    <div class="controls">
      <%= f.radio_button :source, "REMEDY" %> Remedy
      <%= f.radio_button :source, "ZEN" %> Zenoss
      <%= f.radio_button :source, "OV" %> OpenView
      <%= f.radio_button :source, "AVAYA" %> Avaya
      <p class="help-block"></p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :cust_no, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :cust_no %>
      <p class="help-block"></p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :call_type, :class => "control-label" %>
    <div class="controls">
      <%= f.select :call_type, [['All Types',''],['INC - Incident','INC'],['SVR - Service Request','SVR']] %>
      <p class="help-block"></p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :priority, :class => "control-label" %>
    <div class="controls">
      <%= f.select :priority, [['All',''],['P1','1'],['P2','2'],['P3','3'],['P4','4'],['P5','5']] %>
      <p class="help-block"></p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :group_owner, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :group_owner %>
      <p class="help-block"></p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :entitlement_code, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :entitlement_code %>
      <p class="help-block"></p>
    </div>
  </div>

  <h3>Definition</h3>
  <div class="control-group">
    <%= f.label :Milestone, :class => "control-label" %>
    <div class="controls">
      <%= f.select :milestone1_operator, [['Not Used',''],['Equals','=']] %>
      <%= f.text_field :milestone1_value %>
      Duration/Value
      <%= f.text_field :milestone1_time_value %>
      <%= f.select :milestone1_time_value_denomination, [['Not Used',''],['Count','count'],['Hours','H'],['Days','D'],['Perc %','%']] %>
      <p class="help-block"></p>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Time_to_Target, :class => "control-label" %>
    <div class="controls">
      <%= f.select :target_time_operator, [['Not Used',''],['Less Than','<']] %>
      <%= f.text_field :target_time_value %>
      <%= f.select :target_time_value_denomination, [['Not Used',''],['Hours','H'],['Days','D'],['Perc %','%']] %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :CTC_ID, :class => "control-label" %>
    <div class="controls">
      <%= f.select :ctc_id_operator, [['Not Used',''],['Equals','='],['Not Equals','!=']] %>
      <%= f.text_field :ctc_id_value %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Other_text, :class => "control-label" %>
    <div class="controls">
      <%= f.select :other_text_operator, [['Not Used',''],['Equals','='],['Not Equals','!=']] %>
      <%= f.text_field :other_text_value %>
    </div>
  </div>

  <h3>Query</h3>
  <div class="control-group">
    <%= f.label :sql_query, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :sql_query %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :Notification_msg, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :syntax_msg %>
    </div>
  </div>

  <h3>Group</h3>
  <div class="control-group">
    <%= f.label :group, :class => "control-label" %>
    <div class="controls">
      <%= f.collection_select :group_id, Group.all, :id, :title, {:selected => @rule.group_id}, {:class => "input-xlarge"} %>
      <p class="help-block"></p>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit "Save changes", {:class => "btn btn-primary"} %>
    <%= f.submit "Cancel", {:class => "btn", :name => :cancel} %>
  </div>
</fieldset>
<% end %>