<h1>Listing rules</h1>

<table>
  <tr>
    <th>Rule Group</th>
    <th>Rule ID</th>
    <th>Title</th>
    <th>Message</th>
  </tr>

<% @rules.each do |rule| %>
  <tr>
    <td><%= rule.group.title %></td>
    <td><%= rule.id %></td>
    <td><%= rule.title %></td>
    <td><%= rule.syntax_msg %></td>
    <td><%= link_to 'Show', rule %></td>
    <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
    <td><%= link_to 'Destroy', rule, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rule', new_rule_path, :class => "btn btn-primary" %>

<div class="pagination">
  <%= will_paginate @rules %>
  <div class="page_info">
    <%= page_entries_info @rules %>
  </div>
</div>
<br/>

