<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <% if current_user.has_role? :roleSystemAdmin %>
        <!-- example of how to case roles -->
        <li class="nav-header">Administrator</li>
        <li <%= raw 'class="active"' if params[:controller].to_sym == :rules %> > <%= link_to("Rules", rules_path) %></li>
        <li <%= raw 'class="active"' if params[:controller].to_sym == :rule_groups %> > <%= link_to("Groups", groups_path) %></li>
    <% end %>

    <li class="nav-header">Tasks</li>
    <li><%= link_to "User Task 3", root_path %></li>
    <li><%= link_to "User Task 4", root_path %></li>

  </ul>
</div>
